*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1E3250;
    color: white;
}

@media screen and (max-width: 576px) {
    .quiz-question{
        font-size: 1.5em !important;
    }
    .quiz-answer{
        height: 3em !important;
        font-size: 2em !important;
    }
    .App{
        font-size: 8px !important;
    }
}

.progress-bar {
    height: 5px;
    margin-top: 5px;
    background-color: #EAEAEA;
}

.progress-bar-fill {
    height: inherit;
    width: 0%;
    background-color: #61C099;
    transition: width .1s ease;
    /* animation: width 0s ease forwards; */
}

.fill-animation{
  animation-name: fill;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes fill {
     0% {
         width: 0%;
     }

     100% {
         width: 100%;
     }
}

.quiz-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-size: 16px;
}

.quiz-question{
    font-size: 3em;
    font-weight: bold;
    font-family: system-ui;
    transition: all .1s ease-in;
}

.quiz-answers-wrapper{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px 4px;
    grid-template-areas:
        "1 2"
        "3 4";
    place-items: center;
    margin-top: auto;
    width: 100%;
}


@media screen and (max-width:576px) {
    .quiz-answers-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "1"
        "2"
        "3"
        "4";
    }
}

.quiz-answer-status{
    font-size: 10em;
    font-family: sans-serif;
}

.quiz-answer{
    width: 100%;
    height: 5em;
    font-family: system-ui;
    color: white;
    background-color: #69CDA3;
    font-weight: bold;
    font-size: 3em;
    cursor: pointer;
}

.countdown-timer-wrapper{
    font-size: 2rem;
    font-family: system-ui;
    display: flex;
    justify-content: center;
}